@model AppMasInfo.Web.Models.PacienteViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@section Scripts{
    <script type="text/javascript">

         var viewDetailItem = function (id) {
            var urlDetallePaciente = '@Url.Content("~/Paciente/Detail")?p_id=' + id;
            dialogInstanceArchivo = BootstrapDialog.show({
                title: 'masInfo - Detalle Paciente',
                message: $('<div></div>').load(urlDetallePaciente),
                size: BootstrapDialog.SIZE_WIDE,
                buttons: [{
                    label: 'Cerrar',
                    action: function (dialogRef) {
                        dialogRef.close();
                    }
                }]
            });
        };

        var viewDetailItemTutor = function (id) {
            var urlDetalleTutor = '@Url.Content("~/Paciente/DetailTutor")?p_id=' + id;
            dialogInstanceArchivo = BootstrapDialog.show({
                title: 'masInfo - Detalle Tutor',
                message: $('<div></div>').load(urlDetalleTutor),
                size: BootstrapDialog.SIZE_WIDE,
                buttons: [{
                    label: 'Cerrar',
                    action: function (dialogRef) {
                        dialogRef.close();
                    }
                }]
            });
        };

        var deleteItem = function (id) {
            confirmationDialog(
                'Eliminar Paciente',
                '¿Esta seguro(a) que desea eliminar a el Paciente?',
                function () { doDeleteItem(id); }
            );
        };

        var doDeleteItem = function (idPaciente) {
            var objRequestData = new Object();
            objRequestData.IdPaciente = idPaciente;

            $.ajax({
                url: '@Url.Action("Delete", "Paciente")',
                method: 'POST',
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objRequestData),
                beforeSend: function () {
                    showModalLoading();
                },
                success: function (data) {
                    if (data !== '') {
                        if (data.status === 'ok') {
                            showMessageDialogRedirect(BootstrapDialog.TYPE_INFO,
                                'Información',
                                data.message,
                                '@Url.Action("Index", "Paciente")');
                        }
                        else {
                            showMessageDialog(BootstrapDialog.TYPE_ERROR,
                                'Error',
                                data.message);
                        }
                    }
                    else {
                        showMessageDialog(BootstrapDialog.TYPE_ERROR,
                            'Error',
                            'Error al intentar ingresar el registro. Por favor, inténtelo nuevamente');
                    }
                },
                error: function (jqXHR, status, error) {
                    showMessageDialog(BootstrapDialog.TYPE_ERROR,
                        'Error',
                        'Ha ocurrido un error al intentar realizar la petición. Por favor, inténtelo nuevamente');
                    if (jqXHR.status === parseInt('@((int)System.Net.HttpStatusCode.BadRequest)')) {
                        var modelStateErrors = jqXHR.responseJSON;
                        for (var i = 0; i < modelStateErrors.length; i++) {
                            $(`span[data-valmsg-for="${modelStateErrors[i].key}"]`).text(modelStateErrors[i].errors[0]);
                        }
                    }
                },
                complete: function () {
                    hideModalLoading();
                }
            });
        };

         $(function () {
            var saveMessage = '@TempData["SaveOkMessage"]';
            if (saveMessage !== '') {
                showMessageDialog(
                    BootstrapDialog.TYPE_SUCCESS,
                    'Información',
                    saveMessage
                );
            }

            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage !== '') {
                ShowMessageDialog(
                   BootstrapDialog.TYPE_DANGER,
                   'Error',
                   errorMessage
               );
            }
        });
    </script>
}

<div class="panel panel-primary">
    <div class="panel-body" id="panel">
        <h4 class="m-b-30 m-t-0">Mantenedor Pacientes</h4>

        <br />

        <fieldset>
            <legend style="font-size:20px;">Lista de Datos</legend>
            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="col-md-12 text-right">
                        <a href='@Url.Action("Create", "Paciente")' class="btn btn-primary" role="button" aria-pressed="true">
                            <i class="glyphicon glyphicon-log-in">&nbsp;</i>Crear
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs navtab-bg">
                            <li class="active">
                                <a href="#Paciente" data-toggle="tab" aria-expanded="true">
                                    <span class="visible-xs"><i class="fa fa-home"></i></span>
                                    <span class="hidden-xs">Lista Pacientes</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#Tutor" data-toggle="tab" aria-expanded="true">
                                    <span class="visible-xs"><i class="fa fa-home"></i></span>
                                    <span class="hidden-xs">Lista Tutores</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="border: none !important;">
                            <div class="tab-pane active" id="Paciente">
                                <div class="table-responsive">
                                    <table id="tblPacientes" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:5%"><h6 align="left">Id</h6></th>
                                                <th style="width:15%"><h6 align="left">Rut</h6></th>
                                                <th style="width:15%"><h6 align="left">Nombre</h6></th>
                                                <th style="width:15%"><h6 align="left">Apellido Paterno</h6></th>
                                                <th style="width:6%"><h6 align="left">Edad</h6></th>
                                                <th style="width:15%"><h6 align="left">Tel&eacute;fono</h6></th>
                                                <th style="width:20%"><h6 align="left">Direcci&oacute;n</h6></th>
                                                <th style="width:12%"><h6 align="center">Acci&oacute;n</h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lstPaciente.Count() > 0)
                                            {
                                                foreach (var item in Model.lstPaciente)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Rut</td>
                                                        <td>@item.Nombre</td>
                                                        <td>@item.ApellidoPaterno</td>
                                                        <td>@item.Edad</td>
                                                        <td>@item.NumeroTelefono</td>
                                                        <td>@item.Direccion</td>
                                                        <td>
                                                            <a href="javascript:viewDetailItem(@item.Id)"><i title="Detalle" class="glyphicon glyphicon-info-sign"></i>&nbsp;</a>
                                                            <a href="javascript:deleteItem(@item.Id)"><i title="Eliminar" class="glyphicon glyphicon-trash"></i>&nbsp;</a>
                                                            <a href="@Url.Action("Edit", "Paciente", new { p_Id = item.Id })"><i title="Editar" class="glyphicon glyphicon-edit"></i>&nbsp;</a>&nbsp;
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td colspan="8">No existen datos</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="Tutor">
                                <div class="table-responsive">
                                    <table id="tblTutor" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th><h6 align="left">Id</h6></th>
                                                <th><h6 align="left">Rut</h6></th>
                                                <th><h6 align="left">Nombre</h6></th>
                                                <th><h6 align="left">Apellido Paterno</h6></th>
                                                <th><h6 align="left">Email</h6></th>
                                                <th><h6 align="left">Id Paciente</h6></th>
                                                <th><h6 align="left">Direcci&oacute;n</h6></th>
                                                <th><h6 align="left">Rol</h6></th>
                                                <th><h6 align="center">Acci&oacute;n</h6></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lstTutor.Count() > 0)
                                            {
                                                foreach (var item in Model.lstTutor)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Rut</td>
                                                        <td>@item.Nombre</td>
                                                        <td>@item.ApellidoPaterno</td>
                                                        <td>@item.Email</td>
                                                        <td>@item.IdPaciente</td>
                                                        <td>@item.Direccion</td>
                                                        <td>@item.DetalleRol.Descripcion</td>
                                                        <td align="center">
                                                            <a href="javascript:viewDetailItemTutor(@item.Id)"><i title="Detalle" class="glyphicon glyphicon-info-sign"></i>&nbsp;</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td colspan="9">No existen datos</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br />

        <div class="row">
            <div class="form-group col-sm-12">
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-default" role="button" aria-pressed="true">                        
                        <i class="glyphicon glyphicon-backward">&nbsp;</i>Volver
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
