@model AppMasInfo.Web.Models.AccountViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MasInfo - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="masInfo Web" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    @Styles.Render("~/Content/css")
    <style type="text/css">
        html, body {
            background-color: #000000;
        }

        /* enable absolute positioning */
        .inner-addon {
            position: relative;
        }

            /* style glyph */
            .inner-addon .glyphicon {
                position: absolute;
                padding: 10px;
                pointer-events: visible;
                cursor: pointer;
            }

        /* align glyph */
        .left-addon .glyphicon {
            left: 0px;
        }

        .right-addon .glyphicon {
            right: 0px;
        }

        /* add padding  */
        .left-addon input {
            padding-left: 30px;
        }

        .right-addon input {
            padding-right: 30px;
        }

        body {
            margin: 10px;
        }
    </style>
</head>
<body>

    <!-- Begin page -->
    <div class="topbar">
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation" style="background: #000;">
            <div class="container">
                <div class="">
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="wrapper-page">
        <div class="panel panel-color panel-primary panel-pages">
            <div id="divAlertMessage" style="display:none"></div>

            <div class="panel-body">
                <h3 class="text-center m-t-0 m-b-15">
                    <a href="#" class="logo logo-admin"><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 40px; font-weight:900;">MasInfo</span><span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 30px; font-weight:900; color: #000;">Web</span><i style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 15px; font-weight:900; color: #000;">©2018</i></a>
                </h3>
                <h5 class="text-muted text-center m-t-0"><b>Inicio de Sesi&oacute;n</b></h5>

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal m-t-20" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-xs-12">
                            @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Ingrese Usuario", @type = "text", @name = "user" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="inner-addon right-addon">
                                @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Ingrese Contraseña" } })
                                <span class="show-hide-pass glyphicon glyphicon glyphicon-eye-open" action="hide"></span>
                                @Html.ValidationMessageFor(model => model.Pass, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Ingresar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Javascript libraries -->
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage != '') {
                showAlertMessage(
                   'danger',
                   errorMessage
               );
            }


        //evento que permite ocultar y mostrar la contraseña
        $(document).on("ready", function () {
            $(".show-hide-pass").on("click", function (e) {
                e.preventDefault();
                console.log("entro");
                var current = $(this).attr("action");

                if (current == "hide") {
                    $(this).prev().attr("type", "text");
                    $(this).removeClass("glyphicon-eye-open").addClass("glyphicon-eye-close").attr("action", "show");
                }

                if (current == "show") {
                    $(this).prev().attr("type", "password");
                    $(this).removeClass("glyphicon-eye-close").addClass("glyphicon-eye-open").attr("action", "hide");
                }
            })
        })
    });

    </script>
</body>
</html>








