@using Microsoft.AspNet.Identity
@{
    var usuarioActual = User.Identity.GetUserId();
    var RolActual = (((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value).FirstOrDefault());
}

@if (Request.IsAuthenticated && usuarioActual != null)
{

    <ul>
        @if (RolActual == "Administrador" || RolActual == "Médico" || RolActual == "Enfermero/a")
        {
            <li>
                <a href="@Url.Content("~/Home/Index")" class="waves-effect"><i class="mdi mdi-home"></i><span> Inicio </span></a>
            </li>

            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect"><i class="glyphicon glyphicon-cog"></i> <span> Administraci&oacute;n </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                <ul class="list-unstyled">
                    @if (RolActual == "Administrador" || RolActual == "Médico" || RolActual == "Enfermero/a")
                    {
                        <li><a href="@Url.Action("Index", "Paciente")">Paciente | Tutor</a></li>
                    }

                    @if (RolActual == "Administrador")
                    {
                        <li><a href="@Url.Action("Index", "Trabajador")">Trabajadores</a></li>
                    }
                </ul>
            </li>
        }

        @if (RolActual == "Médico" || RolActual == "Enfermero/a" || RolActual == "Administrador" || RolActual != "Técnico")
        {
            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-outline"></i> <span>Selecci&oacute;n</span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index", "PacienteUbicacion")">Asignaci&oacute;n Ubicaciones</a></li>
                    <li><a href="@Url.Action("Index", "EquipoPaciente")">Asignaci&oacute;n Equipos Cl&iacute;nicos</a></li>
                    @if (RolActual == "Técnico" || RolActual == "Médico" || RolActual == "Enfermero/a" || RolActual == "Administrador" )
                    {
                        <li><a href="@Url.Action("Index", "SeleccionPaciente")">Selecci&oacute;n Pacientes</a></li>
                    }
                </ul>
            </li>
        }

        @if (RolActual == "Tutor")
        {
            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-layers-off"></i> <span> Vistas Tutor </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                <ul class="list-unstyled">
                    <li><a href="@Url.Action("Index", "PacienteDatos")">Consulta</a></li>
                    <li><a href="#">Insumos</a></li>
                    <li><a href="#">Equipo Trabajo</a></li>
                </ul>
            </li>
        }
    </ul>

}

