@model AppMasInfo.Web.Models.PacienteViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-body" id="panel">
        <h5 class="m-b-30 m-t-0">Asigna Ubicaci&oacute;n a Paciente</h5>

        <br />

        <fieldset>
            <legend>Paciente</legend>
            <div class="row">
                <table id="" class="table table-hover" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th><h6 align="left">Rut</h6></th>
                            <th><h6 align="left">Nombre</h6></th>
                            <th><h6 align="left">Apellido Paterno</h6></th>
                            <th><h6 align="left">Apellido Materno</h6></th>
                            <th><h6 align="left">Edad</h6></th>                           
                            <th><h6 align="left">Acci&oacute;n</h6></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.lstPaciente.Count() > 0)
                        {
                            foreach (var item in Model.lstPaciente)
                            {
                                <tr>
                                    <td>@item.Rut</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.ApellidoPaterno</td>
                                    <td>@item.ApellidoMaterno</td>
                                    <td>@item.Edad</td>                                   
                                    <td>
                                        <a href="@Url.Action("Edit", "PacienteUbicacion", new { p_Id = item.Id })" class="btn btn-primary"><i class="glyphicon glyphicon-list"></i>&nbsp;&nbsp;Asignar Ubicaci&oacute;n</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6">No existen datos</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</div>


